[submodule "42Cursus_00_Libft"]
	path = 42Cursus_00_Libft
	url = https://github.com/aLVINlEE9/42Cursus_00_Libft.git
[submodule "42Cursus_01_netwhat"]
	path = 42Cursus_01_netwhat
	url = https://github.com/aLVINlEE9/42Cursus_01_netwhat.git
[submodule "42Cursus_01_get_next_line"]
	path = 42Cursus_01_get_next_line
	url = https://github.com/aLVINlEE9/42Cursus_01_get_next_line.git
[submodule "42Cursus_01_ft_printf"]
	path = 42Cursus_01_ft_printf
	url = https://github.com/aLVINlEE9/42Cursus_01_ft_printf.git
